speechrecognition
PyAudio
pydub #(if pyaudio doesnt work)
gTTS
playsound
openai
python-dotenv
transformers #library to load and run models
torch #for backend computataions cpu/gpu
sentencepiece #Optional (for smaller CPU-friendly models)
